<div class="container-fluid">
  <div class="row">
    <div class="m-place-box col-xs-10 col-xs-offset-1">
      <div class="col-sm-1">
        <%= image_tag 'user.svg', :class => 'm-profile-pic' %>
      </div>
      <div class="col-sm-11">
        <hgroup>
          <h1>Welcome! <%= @user.email %></h1>
          <h3>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
          <h4><%= @user.comments.count %> total comments</h4>
          <h5><%= @user.comments.where(:rating => '5_stars').count %> total 5 star reviews</h5>
        </hgroup>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!-- comments -->
<div class="container-fluid">
  <div class="row">
    <div class="m-place-box col-xs-10 col-xs-offset-1">
      <h2 class="m-comment-heading">My Comments</h2>
      <% @user.comments.each do |comment| %>
        <div class="col-xs-12 col-sm-6">
          <h3 class="m-comment-heading"><%= link_to comment.place.name, place_path(comment.place) %></h3>
           <blockquote>
             <% if comment.humanized_rating.present? %>
               <b><%= comment.humanized_rating %></b> -
             <% end %>
             <%= comment.message %>
             <small><%= comment.user.email %></small>
           </blockquote>
         </div>
         <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>

<!-- places -->
<div class="container-fluid">
  <div class="row">
    <div class="m-place-box col-xs-10 col-xs-offset-1">
      <h2 class="m-place-heading">My Places</h2>
      <% @user.places.each do |place| %> 
  <div class="m-place-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <h2 class="subheader"><i><%= place.address %></i></h2>
    <p><%= place.description %></p>
    <% if place.photos.present? %>
      <%= image_tag place.photos.last.picture, :size => "250x250" %>
    <% end %>
  </div>
<% end %>
    </div>
  </div>
</div>