<% @places.each do |place| %> 
  <div class="m-place-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <h2 class="subheader"><i><%= place.address %></i></h2>
    <p><%= place.description %></p>
    <% if place.photos.present? %>
      <%= image_tag place.photos.last.picture, :size => "250x250" %>
    <% end %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="m-pagination-links col-xs-10 col-xs-offset-1">
    <%= will_paginate @places %>
  </div>
</div>


