<% @places.each do |place| %> 
  <div class="m-place-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <h2 class="subheader"><i><%= place.address %></i></h2>
    <p><%= place.description %></p>
    <% if place.user.present? %>
      <small>Added by: <%= place.user.email %></small>
    <% end %>
    <% if place.comments.present? %>
      <blockquote>
        <p><strong></strong> <%= place.comments.last.message %></p>
        <br>
        <% if place.comments.last.humanized_rating.present? %>
            <p><strong><%= place.comments.last.humanized_rating %></strong></p>
        <% end %>
        <small class="pull-right"><%= place.comments.last.user.email %></small>
      </blockquote>
    <% end %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="m-pagination-links col-xs-10 col-xs-offset-1">
    <%= will_paginate @places %>
  </div>
</div>


