<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% @places.each do |place| %>
      <div class="m-place-wrapper">
        <%= link_to place_path(place) do %>
          <% if place.photos.present? %>
            <%= image_tag place.photos.last.picture, :width => "236", :class => "m-place-picture" %>
          <% end %>
          <h3 class="m-place-name"><%= place.name %></h3>
        <% end %>
        <div class="m-place-details">
          <p class="m-place-address"><%= place.address %></p>
        </div>
        <% if place.user.present? %>
          <div class="m-place-details">
            <%= image_tag 'user.svg', :class => 'm-place-user-pic' %>
            <p class="m-place-user"><%= place.user.email %></p>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
   
  <% end %>
</div>

<%= paginate @places, :outer_window => 3 %>

<script>
    $(function() {
      var $container = $('#masonry-container');
      $container.imagesLoaded(function() {
        $container.masonry({
          itemSelector: '.m-place-wrapper',
          gutterWidth: 15,
          columnWidth: 236,
          isFitWidth: true,
          isAnimated: !Modernizr.csstransitions
        });
      });

      $container.infinitescroll({
        navSelector: 'nav.pagination',
        nextSelector: 'nav.pagination a[rel=next]',
        itemSelector: '#masonry-container .m-place-wrapper',
        loading: {
          finishedMsg: 'No more places to load. Wahoo!',
          img: '/assets/masonry/loader.gif',
          msgText: 'Loading more places...'
        }
      },
      function( newElements ) {
        var $newElems = $( newElements ).css({ opacity: 0 });
        $newElems.imagesLoaded(function() {
          $newElems.animate({ opacity: 1 })
          $container.masonry('appended', $newElems, true);
        });
      });
    });
</script>
