<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% @places.each do |place| %>
      <div class="m-place-wrapper">
        <%= link_to place_path(place) do %>
          <% if place.photos.present? %>
            <%= image_tag place.photos.last.picture, :size => "236", :class => "m-place-picture" %>
          <% end %>
          <h3 class="m-place-name"><%= place.name %></h3>
        <% end %>
        <div class="m-place-details">
          <p class="m-place-address"><%= place.address %></p>
        </div>
        <% if place.user.present? %>
          <div class="m-place-details">
            <%= image_tag 'user.svg', :class => 'm-place-user-pic' %>
            <p class="m-place-user"><%= place.user.email %></p>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
   
  <% end %>
</div>

<div class="container-fluid">
  <div class="m-pagination-links">
    <%= will_paginate @places %>
  </div>
</div>
<script>
    $(function() {
      var $container = $('#masonry-container');
      $container.imagesLoaded(function() {
        $container.masonry({
          itemSelector: '.m-place-wrapper',
          gutterWidth: 15,
          columnWidth: 236,
          isFitWidth: true,
          isAnimated: !Modernizr.csstransitions
        });
      });
    });
</script>
